.class-card {
    width: 170px;
    color: black;
    background-color: var(--secondary-color);
    box-shadow: var(--standard-shadow);
    border: 4px solid var(--accent-color);
    border-radius: 8px;
    flex-grow: 0;
}

.class-card h2 {
    font-size: 1.5rem;
}

.class-card:nth-child(2n) {
    flex-direction: row-reverse;
}

.class-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-out 0.3s;
}

.title-container {
    flex-basis: 200px;
    text-align: center;
}

@media (min-width: 800px) {
    .class-card {
        width: 220px;
    }

    .class-card h2 {
        font-size: 2rem;
    }

    .class-card:nth-child(2n) {
        flex-direction: row;
    }
}