.class-card {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 16px;
    background-color: var(--secondary-color);
    color: black;
    box-shadow: var(--standard-shadow);
    padding: 16px;
    margin: 22px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    flex-grow: 0;
}

.class-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-out 0.3s;
}

.image-container {
    position: relative;
    width: 100px;
    box-shadow: var(--standard-shadow);
}

.title-container {
    flex-basis: 200px;
    text-align: end;
}

.favourite-icon {
    position: absolute;
    top: 4px;
    right: 4px;
}

@media (min-width: 1100px) {
    .class-card {
        flex-basis: 300px;
    }
}