button {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    width: 150px;
    color: var(--secondary-color);
    margin: 8px;
}

button:hover {
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--accent-color);
}