.quiz-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

.question {
    display: flex;
    flex-direction: row;
}

.quiz-card li {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 8px 32px;
    margin: 8px;
}