.class-details {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: var(--secondary-text-color);
    margin: 16px;
}

.class-details h1 {
    font-size: 3rem;
}

.class-details h2 {
    text-decoration: underline;
}

.class-header {
    display: flex;
    flex-direction: column-reverse;
}

.class-header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-header-details-list {
    display: none;
}

details {
    padding: 16px;
}

summary h2 {
    font-size: 2rem;
}

details h3, details h2 {
    display: inline;
}

.progression-table {
    display: none;
}

.filter-menu-closed {
    display: none;
}

.filter-menu-open {
    display: block;
}

@media screen and (min-width: 800px) {
    .class-details {
        padding: 64px;
        margin-top: 50px;
        row-gap: 16px;
    }

    .class-header-details {
        padding: 8px;
    }

    .class-header-details-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        padding: 8px;
    }

    .class-header {
        flex-direction: row;
        padding: 32px;
        margin: 16px;
    }

    details, details li, details p {
        font-size: 1.5rem;
    }

    .progression-table {
        display: flex;
        flex-direction: column;
    }
}

