.class-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding: 8px;
}

.class-details h2 {
    text-decoration: underline;
}

.class-header {
    display: flex;
    flex-direction: column-reverse;
}

.class-header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-header-details-list {
    display: none;
}

details {
    padding: 16px;
}

summary h2 {
    font-size: 2rem;
}

details h3, details h2 {
    display: inline;
}

.progression-table {
    display: none;
}

@media screen and (min-width: 800px) {

    .class-details {
        box-shadow: var(--standard-shadow);
        padding: 64px;
        margin-top: 50px
    }

    .class-header-details-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        padding: 8px;
    }

    .class-header {
        width: 600px;
        flex-direction: row;
        padding: 32px;
        margin: 16px;
    }

    details, details li, details p {
        font-size: 1.5rem;
    }

    summary h2 {
        font-size: 3rem;
    }

    .progression-table {
        display: block;
    }
}

