.quiz-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
}

.question-navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.disabled-icon {
    cursor: not-allowed;
}

.disabled-icon:hover {
    cursor: not-allowed;
}

