.navigation-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--secondary-color);
}

nav ul {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.navigation-item {
    flex-basis: 180px;
    font-size: 1.5rem;
}

.navigation-title {
    color: var(--secondary-text-color);
}

.default-link, .active-link {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

.default-link {
    border-bottom: transparent;
}

.active-link {
    border-bottom: 1px solid var(--accent-color);
}

.mobile-menu {
    position: absolute;
    top: 1.25rem;
    right: 0.75rem;
    display: none;
}

.login-out-icon {
    color: var(--secondary-text-color);
}

.login-out-icon:hover {
    color: var(--accent-color);
    cursor: pointer;
}

@media (max-width: 576px) {
    .mobile-menu {
        display: flex;
    }

    .navigation-container {
        flex-direction: column;
        padding: 1rem;
    }

  nav ul {
        display: none;
        flex-direction: column;
        margin: 1rem 0;
    }

  nav ul.open-menu {
      display: flex;
  }

    .navigation-item {
        flex-basis: 30px;
        width: 100%;
    }

    .navigation-title {
        text-align: start;
    }
}


