/*///////////////////////////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Variables
    2. Global Styles
    3. Typografie
///////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////1. Variables///////////////////////////////////////////////////*/

:root {
  /*purple*/
  --primary-color: hsl(286, 97%, 27%);
  /*Gold*/
  --accent-color: hsl(34, 75%, 44%);
  /*whitish*/
  --secondary-color: hsl(30, 13%, 94%);
  /*dark grey*/
  --secondary-text-color: hsl(240, 4%, 16%);
  /*background color: gradient of purple and blue*/
  --background-color: linear-gradient(90deg, rgba(53,43,114,1) 0%, rgba(104,2,136,1) 35%);

  --body-font: "Sorts Mill Goudy", serif;
  --header-font: "Simonetta", serif;

  --standard-shadow: 8px 4px 22px 0px rgba(39,39,42,0.31);
}


/*//////////////////////////////1. Global Styles///////////////////////////////////////////////*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: var(--secondary-color);
  background: var(--background-color);
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--header-font), serif;
}

a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

img {
  width: 100%;
}

ul, li {
  list-style: none;
}

label {
  justify-content: center;
  text-align: end;
  color: var(--secondary-text-color);
}

input {
  background: var(--secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 4px;
  color: var(--secondary-text-color);
}

input:focus-visible {
  outline: 1px solid var(--primary-color);
  border: 1px solid var(--primary-color);
}

/*//////////////////////////////2. Typografie//////////////////////////////////////////////////*/

body {
  text-align: center;
}

h1, h2, h3, h4 {
  color: var(--accent-color);
  font-family: var(--header-font), serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p, label, ul, li, table {
  font-size: 1.2rem;
  font-family: var(--body-font), serif;
}

button {
  font-family: var(--body-font), serif;
  font-size: 1rem;
}

.error-message, .loading-message {
  font-size: 1.5rem;
}

.error-message {
  color: red;
}

.loading-message {
  color: var(--secondary-color);
}
