.homepage-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 64px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1:hover {
    text-decoration: underline;
}

.navigation-container {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 16px;
    background: var(--secondary-color);
}

.message {
    font-size: 1rem;
    color: var(--secondary-text-color);
}