.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
}

.homepage-image-container {
    position: relative;
}

.image-container-text {
    width: 200px;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    backdrop-filter: blur(1px);
}

.take-the-quiz-link:hover {
    text-decoration: underline;
}

@media (min-width: 800px) {
    .image-container-text {
        font-size: 2rem;
        backdrop-filter: blur(3px);
        width: 250px;
    }
}

