.all-classes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.search-field {
    display: flex;
    flex-direction: row;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 64px;
    row-gap: 16px;
}

.open-menu {
    display: flex;
    flex-direction: column;
}

.closed-menu {
    display: none;
}

.search-icons:hover, .filter-button:hover {
    cursor: pointer;
}

.search-icon:hover {
    color: var(--accent-color);
}

.filter-button:active, .filter-button:focus, .filter-button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

@media (min-width: 800px) {
    .all-classes-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .inner-container {
        flex-basis: 800px;
        gap: 16px;
    }

    .outer-content-container h1 {
        font-size: 4rem;
    }

    .search-section input {
        width: 333px;
        padding: 8px;
    }
}



