.class-card {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 16px;
    background-color: var(--secondary-color);
    color: black;
    box-shadow: var(--standard-shadow);
    padding: 16px;
    margin: 22px;
    border-radius: 5px;
}

.image-container {
    position: relative;
    flex-basis: 100px;
}

.title-container {
    width: 200px;
}

.favourite-icon {
    position: absolute;
    top: 4px;
    right: 4px;
}



